@charset "utf-8";
.wp-block-dwrim-gutenberg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
}
.wp-block-dwrim-gutenberg button {
  height: 120px;
  width: 120px;
  margin: 0 5px 5px 0;
}
.wp-block-dwrim-gutenberg button.btn-xs,
.wp-block-dwrim-gutenberg button.btn-sm,
.wp-block-dwrim-gutenberg button.btn-md,
.wp-block-dwrim-gutenberg button.btn-lg,
.wp-block-dwrim-gutenberg button.btn-xl {
  position: relative;
}
.wp-block-dwrim-gutenberg button.btn-xs:before,
.wp-block-dwrim-gutenberg button.btn-sm:before,
.wp-block-dwrim-gutenberg button.btn-md:before,
.wp-block-dwrim-gutenberg button.btn-lg:before,
.wp-block-dwrim-gutenberg button.btn-xl:before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: #242424;
  color: #fff;
  font-size: 10px;
}
.wp-block-dwrim-gutenberg button.btn-xs:before {
  content: "<= 767px";
}
.wp-block-dwrim-gutenberg button.btn-sm:before {
  content: ">= 768px";
}
.wp-block-dwrim-gutenberg button.btn-md:before {
  content: ">= 992px";
}
.wp-block-dwrim-gutenberg button.btn-lg:before {
  content: ">= 1200px";
}
.wp-block-dwrim-gutenberg button.btn-xl:before {
  content: ">= 1500px";
}
.wp-block-dwrim-gutenberg:before {
  content: "The smaller image will be displayed for the smaller dimensions.";
  font-style: italic;
  font-size: 14px;
  flex: 0 0 100%;
  margin-bottom: 10px;
}
